bin/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
evil.java
test_private.mjava
test_static.mjava
test.mjava
test_indexing.mjava
*.mjava
*.asm
*.mJAM
src/MainClass.java
src/tester/Checkpoint2new.java
src/tester/Checkpoint4.java
